extends ../layout

block css
    link(href='/css/posts.min.css' rel='stylesheet')

block html
    -
        const i18n = __('community').viewPosts;

    div.d-flex.flex-row
        div.d-flex.flex-row.align-items-center#search-container
            input#search-keyword(placeholder=i18n.search.inputKeyword value=previousSearchKeyword)
            select#search-option
                case previousSearchOption
                    when 'title'
                        option(value='title' selected) #{i18n.search.options.title}
                        option(value='content') #{i18n.search.options.content}
                    when 'content'
                        option(value='title') #{i18n.search.options.title}
                        option(value='content' selected) #{i18n.search.options.content}
            i#search.material-icons search

        div.d-flex.flex-row.align-items-center
            select#order
                case order
                    when 'asc'
                        option(value='asc' selected) #{i18n.search.order.ascending}
                        option(value='desc') #{i18n.search.order.descending}
                    when 'desc'
                        option(value='asc') #{i18n.search.order.ascending}
                        option(value='desc' selected) #{i18n.search.order.descending}

    each i in postItems
        div
            a.post-items(href='https://community.bhsjp.kro.kr/read-post/' + i.index)
                if i.password !== 'd85f6c788a62a97b8cb02f772ce08bb393e0a2cd9ad3db8a6f6fc7132bbbef4b971a2d50eadc21291a5e25bd1197f021dfd95833047a6efd42a90fda8d3411e4'
                    i.material-icons lock
                =i.title
    .d-flex.flex-row
        if postListCount > 0
            a.move-post(href='https://community.bhsjp.kro.kr/view-posts/' + (postListCount - 1) + '?order=' + order)
                i.material-icons keyboard_arrow_left
        else
            a.move-post.no-target-page: i.material-icons keyboard_arrow_left

        - maxPages = Math.round(postCount / 20);
        - maxSize = Math.floor(Math.log10(maxPages) + 1);

        input#move-page.text-center(type='number' min='0' max=maxPages size=maxWidth value=postListCount)
        button#move-custom-page(type='button'): i.material-icons autorenew

        if (postListCount + 1) * 20 + 1 <= postCount
            a.move-post(href='https://community.bhsjp.kro.kr/view-posts/' + (postListCount + 1) + '?order=' + order)
                i.material-icons keyboard_arrow_right
        else
            a.move-post.no-target-page: i.material-icons keyboard_arrow_right

append js
    script(src='/js/goCustomPostList.min.js')

    script.
        const movePage = document.getElementById('move-page');
        const moveCustomPage = document.getElementById('move-custom-page');
        const order = document.getElementById('order');
        const search = document.getElementById('search');
        const searchKeyword = document.getElementById('search-keyword');
        const searchOption = document.getElementById('search-option');

        moveCustomPage.addEventListener('click', () => {
            goCustomPostList(movePage.value);
        });

        order.addEventListener('change', e => {
            location.href = `https://community.bhsjp.kro.kr/view-posts/0?order=${e.target.value}&searchOption=${searchOption.value}&searchKeyword=${searchKeyword.value}`;
        });

        search.addEventListener('click', () => {
            location.href = `https://community.bhsjp.kro.kr/view-posts/0?order=${order.value}&searchOption=${searchOption.value}&searchKeyword=${searchKeyword.value}`;
        });
