- const BASE_URL = 'bhsjp.kro.kr';
- const PROTOCOL = 'https'
html
    head
        title #{title} | BHSJP

        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css' rel='stylesheet')
        link(href='/css/styles.min.css' rel='stylesheet')
        link(href='/css/menu.min.css' rel='stylesheet')
        link(href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/default.min.css' rel='stylesheet')
        link(href='/css/highlightjs-themes/tomorrow-night.min.css' rel='stylesheet')
        block css

    body
        i#menu-icon.material-icons menu
        #container.d-flex.flex-row
            nav#menu-bar(data-is-opened='false')
                a(href=PROTOCOL + '://' + BASE_URL title='홈페이지로')
                    img#logo(src='/images/logo.png')

                ul
                    li
                        i.material-icons.justify-content-center.align-text-top.top-menu-icons keyboard_arrow_right
                        span.top-menus(data-is-opened='false') 소개

                        ul.sub-menus
                            a(href=PROTOCOL + '://introduce.' + BASE_URL + '/project'):   li 프로젝트
                            a(href=PROTOCOL + '://introduce.' + BASE_URL + '/developer'): li 개발자

                    li
                        i.material-icons.justify-content-center.align-text-top.top-menu-icons keyboard_arrow_right
                        span.top-menus(data-is-opened='false') 계정

                        if isSignedIn
                            ul.sub-menus
                                a(href='#'): li 로그아웃
                        else
                            ul.sub-menus
                                a(href=PROTOCOL + '://accounts.' + BASE_URL + '/sign-in'): li 로그인
                                a(href=PROTOCOL + '://accounts.' + BASE_URL + '/sign-up'): li 회원가입

            #contents.d-flex.flex-column
                div
                    h1.text-center #{title}
                //block html
                div
                    #main.d-flex.flex-column.align-items-center
                        block html
                footer.text-center Copyright 2020 Hong SeJung all rights reserved

        script(src='https://code.jquery.com/jquery-3.4.1.min.js')
        script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')
        script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js')
        script(src='/js/toggleSubMenu.min.js')
        script(src='/js/menu.min.js')

        block js
