extends ../layout

block html
    -
        const i18n = __('accounts').findPassword;

    div #{i18n.informationMessage}
    form#find-password-form.d-flex.flex-column.input-container
        input#id(placeholder=i18n.usernamePlaceholder)
        input#email(placeholder=i18n.emailPlaceholder)
        button#submit.submit: span #{i18n.submit}

append js

    script(src='/js/enableWaitButton.min.js')
    script(src='/js/disableWaitButton.min.js')
    script(src='/js/fetchFindPassword.min.js')
    script.
        const findPasswordForm = document.getElementById('find-password-form');
        const email = document.getElementById('email');
        const submit = document.getElementById('submit');
        const submitText = submit.getElementsByTagName('span')[0];

        findPasswordForm.addEventListener('submit', e => {
            e.preventDefault();

            enableWaitButton(submit, submitText);

            fetchFindPassword(id.value, email.value, () => {
                disableWaitButton(submit, submitText, '#{i18n.submit}');
            });
        });
