extends ../layout

block html
    -
        const i18n = __('accounts').signUp;

    form#account-form-container.d-flex.flex-column.input-container
        input#account-id.account-form(type='text' placeholder=i18n.usernamePlaceholder name='id' autocomplete='off' minlength='1' maxlength='10')
        div
            input#account-password.account-form(type='password' placeholder=i18n.passwordPlaceholder name='password' autocomplete='off' minlength='4')
            include ../includes/passwordToggleButton
        div: input#account-nickname.account-form(type='text' placeholder=i18n.nicknamePlaceholder name='nickname' maxlength='10' autocomplete='off')
        div: input#account-email.account-form(type='email' placeholder=i18n.emailPlaceholder name='email' maxlength='320' autocomplete='on')
        div.text-center: button#account-submit.submit: span #{i18n.submit}

append js
    script(src='/js/togglePassword.min.js')
    script(src='/js/limitInput.min.js')
    script(src='/js/fetchSignUp.min.js')
    script(src='/js/enableWaitButton.min.js')
    script(src='/js/disableWaitButton.min.js')
    script.
        const accountId = document.getElementById('account-id');
        const accountPassword = document.getElementById('account-password');
        const accountNickname = document.getElementById('account-nickname');
        const accountEmail = document.getElementById('account-email');
        const passwordToggle = document.getElementsByClassName('password-toggle')[0];
        const passwordToggleIcon = passwordToggle.getElementsByTagName('i')[0];
        const accountFormContainer = document.getElementById('account-form-container');
        const accountSubmit = document.getElementById('account-submit');
        const accountSubmitText = accountSubmit.getElementsByTagName('span')[0];

        limitInput(accountId, /[^\w]/g);
        limitInput(accountPassword, /[^\w !-\/:-@\[-`{-~]/g);
        togglePassword(passwordToggle, passwordToggleIcon, accountPassword);
        accountFormContainer.addEventListener('submit', e => {
            e.preventDefault();

            enableWaitButton(accountSubmit, accountSubmitText);

            fetchSignUp(() => {
                disableWaitButton(accountSubmit, accountSubmitText, '#{i18n.submit}');
            });
        });
